<div id="header-navbar-fixed-top" class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div id="navbar-container" class="container">
			<div class="row">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
				</a>
				<div id="logo" class="span3">
				  <a href="<%= root_path %>"><img src="<%=asset_url('lucidworks/logo.png')%>"/></a>
				</div>
				<div class="span6 clearfix" id="searchbar">
				  <% if current_collection.has_key?("name") %>
				    <%= render_search_bar %>
				  <% end %>
				</div>
				<div id="link-box" class="span3 nav-collapse">
          <% if has_user_authentication_provider? %>
            <div class="util-links-login">
              <% if current_user %>
                <%= current_user.username %>
                <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path %> 
              <% else %>
                <%= link_to t('blacklight.header_links.login'), new_user_session_path %>
              <% end %>
            </div>
          <% end %>
          <div class="util-links-other">
            <% if current_or_guest_user %>
              <%= link_to t('blacklight.header_links.bookmarks'), bookmarks_path %>
            <% end %>
            <% if has_user_authentication_provider? and current_user %>
              |
              <%= link_to t('blacklight.header_links.saved_searches'), saved_searches_path %>
            <% end %>
            |
            <%= link_to t('blacklight.header_links.search_history'), search_history_path %>
          </div>
				</div>
			</div>
		</div>
	</div>
</div>
