<%# partial to display solr fields related to the search query -%>
<div class="document-information">

	<%#Ideally this would find the body/description/blurb about the search term and dispay that information -%>

  	<%# Load the body field, if there is one and display it -%>
	<% index_fields(document).each do |solr_fname, field| -%>
		<% if should_render_index_field? document, field %>
			<% if (render_index_field_label document, :field => solr_fname ) == "body" -%>
				<div class = "document-body">
					<%=render_index_field_value document, :field =>
					solr_fname %>
				</div>
			<% end -%>
		<% end -%>
	<% end -%>

	<%#This should create a footer with all of the meta-search information in it -%>

	<div class = "document-footer>">
		<% index_fields(document).each do |solr_fname, field| -%>

			<% if should_render_index_field? document, field %>
			<dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label document, :field =>
				solr_fname %></dt>
			<dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value document, :field =>
				solr_fname %></dd>
			<% end -%>
		<% end -%>
	</div>

</div>