 <div id="sidebar" class="span3">
  <%= render :partial=>'facets' %>
</div><!--/well -->

<div id="content" class="span9">
  <h2 class="hide-text top-content-title"><%= t('blacklight.search.search_results_header') %></h2>

  <% @page_title = t('blacklight.search.title', :application_name => application_name) %>

  <% extra_head_content << render_opensearch_response_metadata.html_safe %>

  <%= render :partial => 'did_you_mean' %>
  
  <%= render :partial => 'constraints' %>
  
  <ul id="view-tabs" class="nav nav-tabs">
    <li class="active"><a class="btn-view" href="#view-list" data-toggle="tab" data-view="list">List View</a></li>
    <li><a class="btn-view" href="#view-graph" data-toggle="tab" data-view="graph">Graph View</a></li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane fade in active" id="view-list">
      <%= render 'sort_and_per_page' %>
    
      <h2 class="hide-text"><%= t('blacklight.search.search_results') %></h2>
      
      <%= render_document_index %>
    
      <%= render 'results_pagination' %>
    </div>
    <div class="tab-pane fade in" id="view-graph">
      <%= render :partial => 'results_header' %>
      
      <%= render :partial => 'graph' %>
    </div>
  </div>
</div>
