<!DOCTYPE html>
<html class="no-js">
  <%= render :partial => 'layouts/head' %>
  <% onload_text = "$('input#q').focus();" if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>
  <body onload="<%= onload_text %>" class="<%= render_body_class %>">
    <div id="wrap">
      <!-- /container -->
      <div id="main-container" class="container">
        <%= yield %>
      </div>
    </div>
    <%= render :partial => 'shared/footer' %>
  </body>
</html>
