<!DOCTYPE html>
<html class="no-js">
  <%= render :partial => 'layouts/head' %>
  <body class="<%= render_body_class %>">
    <div id="wrap">
      <%= render :partial => 'shared/header_navbar' %>
      <div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>
      
      <!-- /container -->
      <div id="main-container" class="container">
        <%= yield %>
      </div>
    </div>
    <%= render :partial => 'shared/footer' %>
  </body>
</html>
